.container {
    width: 100%;
    height: 100%;
}

.logo {
    margin: 0 auto;
    width: 800px;
    border-radius: 15px;
    background-color: black;
    font-family: maven-pro-regular;
    text-align: center;
    color: white;
    /*padding: 1px;*/
}

    .logo h1 {
        font-size: 68px;
    }

.api {
    margin: 0 auto;
    margin-top: 50px;
    width: 90%;
    font-family: maven-pro-regular;
    font-size: 22px;
}

.apiFunction {
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

    .apiFunction h2 {
        font-size: 30px;
        border-radius: 8px;
        background-color: #D0D2C4;
        padding: 4px;
    }

    .apiFunction span {
        font-size: 25px;
    }

.sample {
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    text-align:center;
    font-family: maven-pro-regular;
}

    .sample h2 {
        font-size: 30px;
        border-radius: 8px;
        background-color: #C6E2FF;
        padding: 4px;
    }
    .sample span {
        font-size: 25px;
    }


.uiBlocker {
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    position:fixed;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index:1000;
}

.divSourceCode {
    width:80%;
    height: 80%;
    margin-left:9%;
    margin-top:50px;
    padding: 16px;
    font-family: maven-pro-regular;
    font-size: 20px;
    position:fixed;
    display: none;
    border-radius:12px;
    background-color:white; 
    z-index:2000;
}

.showCodeButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24537;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.showCodeButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
	background-color:#c62d1f;
}
.showCodeButton:active {
	position:relative;
	top:1px;
}


@font-face {
    font-family: maven-pro-regular;
    src: url('/gridJS/Fonts/maven_pro_regular-webfont.woff');
}
